{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Employee edit</h1>
        <div class="row">
            <div class="col-lg-12" style="padding-bottom:10px;">
                <a class="btn btn-primary pull-right" href="{{ path('employeedetails_index') }}">Back to the list</a>
            </div>
        </div> 
        <div class="row">
            <div class="col-lg-12 form-group" style="padding-bottom:10px;">
                {{ form_start(edit_form) }}
                <label for="email">Name</label>
                {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
                <label for="email">Age</label>
                {{ form_widget(edit_form.age, { 'attr': {'class': 'form-control'} }) }}
                <label for="email">Date Of Joining</label>
                {{ form_widget(edit_form.dateOfJoining, { 'attr': {'class': ''} }) }}
                <input class="btn btn-primary" style="margin-top: 5px;" type="submit" value="Save" />
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}
