{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Employee list</h1>
        <div class="row">
            <div class="col-lg-12" style="padding-bottom:10px;">
                <a class="btn btn-primary pull-right" href="{{ path('employeedetails_new') }}">Create</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Date of joining</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employeeDetail in employeeDetails %}
                            <tr>
                                <td>{{ employeeDetail.name }}</td>
                                <td>{{ employeeDetail.age }}</td>
                                <td>{% if employeeDetail.dateOfJoining %}{{ employeeDetail.dateOfJoining|date('Y-m-d') }}{% endif %}</td>
                                <td>
                                    <a href="{{ path('employeedetails_edit', { 'id': employeeDetail.id }) }}" class="btn btn-default" role="button">Edit</a>
                                    <a href="{{ path('employeedetails_show', { 'id': employeeDetail.id }) }}" class="btn btn-default" role="button">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
