{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Employees</h1>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ employeeDetail.name }}</td>
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td>{{ employeeDetail.age }}</td>
                        </tr>
                        <tr>
                            <th>Date of joining</th>
                            <td>{% if employeeDetail.dateOfJoining %}{{ employeeDetail.dateOfJoining|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
                <div id="container">
                    {{ form_start(delete_form) }}
                    <a class="btn btn-primary " href="{{ path('employeedetails_index') }}">Back to the list</a>
                    <a class="btn-info btn" href="{{ path('employeedetails_edit', { 'id': employeeDetail.id }) }}">Edit</a>
                    <input class="btn-success btn" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
